In [5]:
# Declare Dependencies 
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests

In [6]:
#pointing to the directory where chromedriver exists
#C:\Users\sarah\Downloads\chromedriver_win32
executable_path = {"executable_path":"chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless = False)

In [7]:
# Visit Nasa news url 
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [10]:
#write it into html using BeautifulSoup
html = browser.html
soup = bs(html,"html.parser")

In [11]:
# Scrape and collect latest News Title and PAragraph Text and save to variables
news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div', class_='article_teaser_body').text

In [12]:
print(news_title)

InSight Lands Praise and a Proclamation from LA County

In [13]:
print(news_p)

Several members of the Mars InSight team accepted a proclamation on behalf of the mission from L.A. County Board of Supervisors on Tuesday, Feb. 19.

# JPL Mars Space Images - Featured Image
    Visit the url for JPL Featured Space Image here.
    Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to 
        a variable called featured_image_url.
    Make sure to find the image url to the full size .jpg image.
    Make sure to save a complete url string for this image.

In [21]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)

In [22]:
#html using BeautifulSoup
html_image = browser.html
soup = bs(html_image,"html.parser")

In [23]:
# Retrieve current Featured Mars Image and assign to url called featured_image_url
image = soup.find("img", class_="thumb")["src"]
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/wallpaper/PIA23052-640x350.jpg

# Mars Weather
    Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
    Save the tweet text for the weather report as a variable called mars_weather.

In [24]:
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [25]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")

# Mars Facts
    Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including 
        Diameter, Mass, etc.
    Use Pandas to convert the data to a HTML table string.

In [26]:
url_facts = "https://space-facts.com/mars/"

In [29]:
#reads url_facts into a table
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
#create df from table
mars_facts_df = table[0]
mars_facts_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [36]:
#convert data to HTML table string
mars_html_table = mars_facts_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres
    Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
    You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
    Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the 
        hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
    Append the dictionary with the image url string and the hemisphere title to a list. 
        This list will contain one dictionary for each hemisphere.

In [38]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)

In [40]:
hemispheres_html = browser.html
soup = bs(hemispheres_html, 'html.parser')

In [42]:
#create empty list for hem_image_urls
hem_img_urls = []

In [43]:
#image = soup.find("img", class_="thumb")["src"]
#Cerberus_Hemisphere_Enhanced = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced" + image
#print(Cerberus_Hemisphere_Enhanced)

https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png